<header class="cf">
	<h1>Todo List :)</h1>
	<nav>
		<div class="items">
		<ul>	
			<li><form class="itemform">
				<input class="item" placeholder="Add Item here"></input>
				<input class="date" id="datepicker" placeholder="Date"></input>
				<input class="quantity" placeholder="Quantity"></input>
				<label>
				    <select class="categorydropbox" val="Category">
				    	
				    </select>
				</label>
				<button class="add-more" data-action="add">Add</button>
			</form></li>
				<li><h2 class="welcome">Welcome <%= User.find(session[:user_id]).name %></h2></li>
<!-- 			<li><form class="searchitem">
				<input class="filter" type="type" placeholder="Filter Task" />
				<button class="search">Search</button>
			</form></li> -->
		</ul>		
		</div>
	</nav>
</header>
<div class="container">
	<div class="main">
		<ul class="itemlist" id="sortable"></ul>
	</div>
	<div class="side">
		<div class="above">
			<ul>
				<li><h3 class="option" id="all">All</h3></li>
				<li><h3 class="option" id="today">Today</h3></li>
				<li><h3 class="option" id="done">Done</h3></li>
				<li><h3 class="option" id="pending">Pending</h3></li>
			</ul>
		</div>
		<div class="bottom">
			<h3>Categories</h3>
			<form class="categoryform">
				<input class="category" placeholder="Add Category"></input>
			</form>
			<ul class="categorylist" id="sortable">
			</ul>	
		</div>	
	</div>
</div>