<div class="main">
	<h1>ToDoList<h1>
	<div class="items">	
		<form class="itemform">
			<input class="item" placeholder="Add Item here"></input>
			<textarea class="description" placeholder="Discription"></textarea>
			<input class="date" id="datepicker" placeholder="Date"></input>
			<input class="quantity" placeholder="Quantity"></input>
			<button class="add-more" data-action="add">Add</button>
		</form>
	</div>
	<ul class="list"></ul>
</div>
<div class="side">
<ul>
	<li>All</li>
	<li>Today</li>
	--------------
	<form class="categoryform">
		<input class="catgory" placeholder="Add Category"></input>
	</form>
	<ul class="category">
	</ul>	
</ul>	
</div>