/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_prettyCheckable
 */

 body {
 	font-family: 'Maven Pro', sans-serif;
 	text-align: center;
	height: 100%;
 }

 div.login h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
   margin-bottom: 0;
 }

 div.login h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5em;
  margin-top: 10px;
 }

 h1 a {
  text-decoration: none;
 }

 h3.option, h4, button, input.checkbox {
    cursor: pointer;
 }

 h3.option.on {
  background: #F7F7F7;
 }

 h3.option:hover {
  background: #F7F7F7;
 }

 h4.category {
  padding: 0 5% 0 5%;
 }

 h4:hover {
  background: #F7F7F7;
 }

 span.deletecategory:hover {
  color: red;
 }

 hr {
 	color: rgba(0,0,0,.1);
 	margin: 0;
 }

 input {
  font-family: 'Maven Pro', sans-serif;
  border-radius: 1px;
  height: 20px;
 }

 .search input[type=search] {
  font-family: 'Maven Pro', sans-serif;
  border-radius: 1px;
  height: 20px;  
 }
/**/

 button {
  font-family: 'Maven Pro', sans-serif;  
 }

 textarea {
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px; 
  height: 20px;
 }

 header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-top: 10px;
 }

 header h1 {
  display: inline;
  float: left;
  font-family: 'Indie Flower', cursive;
  margin: 0 0 0 3.5%;
  padding-top: 10px;
 }
 
 header h2.welcome {
  display: inline;
  font-family: 'Indie Flower', cursive;
  position: relative;
  bottom: 5px;
 }

 nav {
 	float: right;
 	width: 64%;
  margin-bottom: 1%;
 }

 nav ul {
 	float: left;
 }

 nav ul li {
 	float: left;
 }

 nav ul li:first-child {
 	margin-right: 34px;
 }

 p {
 	margin: 0;
 }

 li {
 	list-style: none;
 }

 div.side {
 	height: 960px;
 	width: 29%;
 	float: left;
 }

 div.main {
 	height: 960px;
	width: 70.8%;
 	padding-left: 0;
 	float: right;
 }

 div.main ul {
 	margin: 0;
 }

 div.side {
  	border-right: 1px solid rgba(0,0,0,.1);
 }

 div.side ul li h3.last {
 	border-bottom: 1px solid rgba(0,0,0,.1);
 }

 div ul {
 	margin-left: 0;
 	padding-left: 0;
 }

 div.item {
 	text-align: left;
   	border-bottom: 1px solid rgba(0,0,0,.1);
 }

 div.item p {
 	padding: 1% 0 1% 0;
 }

 div#ui-datepicker {

 }

 div.ui-datepicker {
 	background: #ffffff;
  	/*border-bottom: 1px solid black;*/
 }

div.above {
   	border-bottom: 1px solid rgba(0,0,0,.1);	
}

div.bottom {
	margin-top: 18.720px;
}

/***** Select Box *****/

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 80px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
