<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Templates -->
  <script type="text/template" id='todo-template'>
    <div class="item">
    <%% if (done == true) { %>
  		<p><span class="line" style="text-decoration: line-through;"><span style="margin-left: 2%; margin-right: 2em;"><input class="checkbox" type="checkbox"/></span><span style="margin-right: 2em;"><%%= name %></span> <span style="margin-right: 2em;"><%%= date %></span></span>
      <button data-action="destroy">
        Delete
      </button></p>
      </div>
    <%% } else { %>
      <p><span class="line"><span style="margin-left: 2%; margin-right: 2em;"><input type="checkbox"/></span><span style="margin-right: 2em;"><%%= name %></span> <span style="margin-right: 2em;"><%%= date %></span></span>
      <button data-action="destroy">
        Delete
      </button></p>
      </div>
    <%% }; %>   
  </script>
  <script type="text/template" id="todo-edit-template">
    <form>
        <input class="name" type="text" placeholder="<%%= name %>"></input>
        <textarea class="description" type="text" placeholder="<%%= description %>"></textarea>
        <input class="date" id="datapicker" placeholder="<%%= date %>"></input>
        <input class="quantity" type="text" placeholder="<%%= quantity %>"></input>
    </form>
    <button data-action="cancel">
        Cancel
    </button>
  </script>
  <script type="text/template" id='category-template'>
      <h4 class="category"><%%= name %><span class="deletecategory" style="float: right;">&#10006;</span><input type="hidden" value="<%%= id %>"></h4>
  </script>
  <script type="text/template" id='category-dropbox-template'>
      <%%= name %>
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
